.it-MdContent .code-lang {
  text-align: left;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.0664062);
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1;
  margin: 0px;
  padding: 0.25em 0.5em;
  transform: inherit;
}
.it-MdContent .code-frame {
  text-align: left;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  background-color: rgb(247, 247, 247);
  line-height: 0;
  margin: 1em 0 0;
  padding: 0;
}
.it-MdContent pre {
  text-align: left;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  display: block;
  color: rgb(51, 51, 51);
  word-break: break-all;
  overflow-x: auto;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-bottom-left-radius: 3px 3px;
  background-color: rgb(247, 247, 247);
  white-space: pre;
  word-wrap: normal;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.2;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0;
  border-color: white;
}
.it-MdContent .highlight {
  background-color: rgb(247, 247, 247);
  padding: 0.6em 1.2em;
}
.it-MdContent .highlight .n,
.it-MdContent .highlight .p,
.it-MdContent .highlight .ni,
.it-MdContent .highlight .nl,
.it-MdContent .highlight .nn,
.it-MdContent .highlight .py,
.it-MdContent .highlight .nv,
.it-MdContent .highlight .nx,
.it-MdContent .highlight .w,
.it-MdContent .highlight .bp,
.it-MdContent .highlight .vc,
.it-MdContent .highlight .vg,
.it-MdContent .highlight .vi,
.it-MdContent .highlight .vm,
.it-MdContent .highlight .o,
.it-MdContent .highlight .ow,
.it-MdContent .highlight .gd,
.it-MdContent .highlight .kn,
.it-MdContent .highlight .k,
.it-MdContent .highlight .kc,
.it-MdContent .highlight .kd,
.it-MdContent .highlight .kp,
.it-MdContent .highlight .kr,
.it-MdContent .highlight .kt,
.it-MdContent .highlight .no {
  color: rgb(51, 51, 51);
}
.it-MdContent .highlight .nt {
  color: navy;
}
.it-MdContent .highlight .ld,
.it-MdContent .highlight .s,
.it-MdContent .highlight .sa,
.it-MdContent .highlight .sb,
.it-MdContent .highlight .sc,
.it-MdContent .highlight .dl,
.it-MdContent .highlight .sd,
.it-MdContent .highlight .s2,
.it-MdContent .highlight .sh,
.it-MdContent .highlight .si,
.it-MdContent .highlight .sx,
.it-MdContent .highlight .sr,
.it-MdContent .highlight .s1,
.it-MdContent .highlight .ss {
  color: rgb(208, 16, 64);
}
.it-MdContent .highlight .l,
.it-MdContent .highlight .m,
.it-MdContent .highlight .mb,
.it-MdContent .highlight .mf,
.it-MdContent .highlight .mh,
.it-MdContent .highlight .mi,
.it-MdContent .highlight .mo,
.it-MdContent .highlight .se,
.it-MdContent .highlight .il {
  color: rgb(0, 153, 153);
}
.it-MdContent .highlight .gi,
.it-MdContent .highlight .na,
.it-MdContent .highlight .nc,
.it-MdContent .highlight .nd,
.it-MdContent .highlight .ne,
.it-MdContent .highlight .nf,
.it-MdContent .highlight .fm {
  color: teal;
}
.it-MdContent .highlight .nb {
	color: rgb(0, 134, 179);
}
.it-MdContent .highlight .cm,
.it-MdContent .highlight .c1 {
  color: rgb(153, 153, 136);
  font-style: italic;
}
.it-MdContent .highlight .err {
  color: rgb(166, 23, 23);
  background-color: rgb(227, 210, 210);
  border-bottom: 0;
}
.it-MdContent .highlight .k,
.it-MdContent .highlight .kc,
.it-MdContent .highlight .kd,
.it-MdContent .highlight .kp,
.it-MdContent .highlight .kr,
.it-MdContent .highlight .kt,
.it-MdContent .highlight .no {
  font-weight: 700;
}